site_name: Aleph Active Record SDK
theme: material
markdown_extensions:
  - smarty
  - admonition
  - pymdownx.details
  - pymdownx.superfences
watch:
  - src/aars
  - README.md
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          parser:
            type: python
            options:
              sort: attr,name
              show_root_heading: false
              selection:
                members:
                  - public
                  - protected
              show_signature_annotations: true
              merge_init_into_class: true
              autodoc: true